/*
* Suzanne Melia
* Due Date 
* " 
*/ 

/*The Universal selector */

* {

}

/* Body attributes here */

body {
    
background-color: aliceblue
    
}
#OutsideFig { float: left; } 
#InsideFig { float: left; } 
#BedroomFig { float: left; }
#BordenOutside {width: 220px; height:200px; } 
#BordenInside {width: 210px; height:200px;}
#Bedroom {width: 210px; height:200px;}
#EmmaBorden {width: 200px; height:230px;}

